.wrapper {
    padding: 4rem;
}

.ex1 {
    text-decoration-style: wavy;
    text-decoration-color: red;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}
