.wrapper {
    padding: 3rem 5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    text-align: center;
}
.balance {
    text-wrap: balance;
}

.pretty {
    text-wrap: pretty;
}
