.box1 {
    inline-size: 200px;
    block-size: 300px;
    background-color: aquamarine;
    padding-block: 20px 40px;
    padding-inline: 50px 0;
    border-inline: 2px dashed darkcyan;
    border-block-start: 10px dotted red;
    margin-block: 100px;
}
